@using Blogifier.Core.Common
<article class="post-single">
    <div class="post-cover" style="background-image: url('@BlogSettings.Cover')"></div>
    <section class="container">
        <div class=" post-body">
            <header class="post-header">
                <h2 class="post-title">About me</h2>
            </header>
            <div class="post-content">
                <p>
                    @* Add an image ? **@
                    I'm a software developer located in Hamburg, Germany. I work for <a href="https://www.neveling.net">neveling.net</a> as a .NET-Developer.
                    My primary field of interest is the .NET stack from Microsoft.
                </p>
                <h2>Current work</h2>
                <p>
                    During my work hours I mostly work on <a href="https://www.sitecore.net">Sitecore</a> in combination with
                    <a href="https://www.ucommerce.net">uCommerce</a>.
                </p>
                <h2>My eCommerce history</h2>
                <p>
                    <ul>
                        <li>nopCommerce as standalone solution</li>
                    </ul>
                </p>
                <h2>Private interests</h2>
                <p>
                    <ul>
                        <li>.NET Core</li>
                        <li>TypeScript</li>
                        <li>Blogging</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
</article>