@using Blogifier.Core.Common
<article class="post-single">
    <div class="post-cover" style="background-image: url('@BlogSettings.Cover')"></div>
    <section class="container">
        <div class=" post-body">
            <header class="post-header">
                <h2 class="post-title">Imprint</h2>
            </header>
            <div class="post-content">
                <p>
                    Here goes my imprint
                </p>
            </div>
        </div>
    </section>
</article>